<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RaidCrawler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RaidCrawler.Properties.Settings>
            <setting name="SwitchIP" serializeAs="String">
                <value>192.168.0.0</value>
            </setting>
            <setting name="Progress" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Game" serializeAs="String">
                <value>Scarlet</value>
            </setting>
            <setting name="EventProgress" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CfgFocusWindow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CfgPlaySound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CfgEnableAlertWindow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CfgAlertWindowMessage" serializeAs="String">
                <value>Match found! Hold Shift and click one of the arrow keys to jump to the matching result.</value>
            </setting>
            <setting name="CfgBaseDelay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CfgSystemDDownPresses" serializeAs="String">
                <value>38</value>
            </setting>
            <setting name="CfgOpenHome" serializeAs="String">
                <value>1800</value>
            </setting>
            <setting name="CfgNavigateToSettings" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="CfgOpenSettings" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="CfgHold" serializeAs="String">
                <value>1700</value>
            </setting>
            <setting name="CfgSubmenu" serializeAs="String">
                <value>2200</value>
            </setting>
            <setting name="CfgDateChange" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="CfgReturnHome" serializeAs="String">
                <value>2500</value>
            </setting>
            <setting name="CfgReturnGame" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="CfgDaysToSkip" serializeAs="String">
                <value>0</value>
            </setting>
        </RaidCrawler.Properties.Settings>
    </userSettings>
</configuration>