<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RaidCrawler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RaidCrawler.Properties.Settings>
            <setting name="SwitchIP" serializeAs="String">
                <value>192.168.0.0</value>
            </setting>
            <setting name="Progress" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Game" serializeAs="String">
                <value>Scarlet</value>
            </setting>
            <setting name="EventProgress" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SpeciesFilter" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="SpeciesEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NatureFilter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NatureEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StarsFilter" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="StarsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchTillShiny" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IVBin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IVVals" serializeAs="String">
                <value>1073741823</value>
            </setting>
            <setting name="SatisfyAny" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpeciesFixed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NatureFixed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StarFixed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TeraFixed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TeraFilter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TeraEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </RaidCrawler.Properties.Settings>
    </userSettings>
</configuration>